<ul class="dogs">
  <li>
    <section class="dog-listing">
      <h3>Charles Barkley</h3>
      <section>
        <figure>
          <img src="" alt="">
          <figcaption></figcaption>
        </figure>
        <p>asdf</p>
      </section>
    </section>
  </li>
  <li></li>
  <li></li>
</ul>
